@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 79, 70, 229;
  --primary-light: 199, 210, 254;
  --secondary: 245, 158, 11;
  --background: 249, 250, 251;
  --text: 31, 41, 55;
}

body {
  color: rgb(var(--text));
  background: rgb(var(--background));
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-purple-600;
  }
}

section {
  scroll-margin-top: 80px; /* Adjust this based on header height */
}

html {
  scroll-behavior: smooth;
}

